
main section {

    width: 60%;
}

.team-members {

    display: inline-block;

    margin-left: 5%;
    margin-right: 5%;
}

.team {
    border: 1px solid red;
    box-sizing: border-box;
    width: 45%;
    float: left;

}

.team img {

    float: left;

    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

main aside {
    position: absolute;
    top: 10%;
    left: 0.5%;
    float: left;
    width: 15%;

}

main aside div {

    padding: 0rem 1.5rem;
}

div.image {
    content: url(../images/peevski.jpg);
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

@media (max-width: 800px) {

    aside {
        display: none;
    }
}