div {
	display:inline-block;
	padding:0;
	margin:0;
}

h2 {
	text-align:center;
}

#rightPost {
	text-align:right;
	margin-bottom:15px;
}

p {
	margin-top:10px;
}

#spoiler {
	box-sizing:border-box;
	width:100%;
	height:291px;
}

#lines {
	box-sizing:border-box;
	border:1px solid black;
	width:2.5rem;
	text-align:left;
	background-color:#B8B8B8;
	color:#BF0404;
	float:left;
	height:100%;
}

#code {
	box-sizing:border-box;
	border:1px solid black;
	width:80%;
	height:100%;
	text-align:left;
	vertical-align:top;
	background-color:#273259;
	color:#B8B8B8;
	float:left;
	overflow:auto;
}

#lines pre {
	margin:0;
	font-size:15px;
}

#code pre {
	margin:0;
	font-size:15px;
}