div {
	display: inline-block;
	padding: 0;
	margin: 0;
}

#spoiler {
	border: 1px solid black;
	box-sizing: border-box;
	width: 100%;
	height: 291px;
}

#lines {
	box-sizing: border-box;
	border-right: 1px solid black;
	width: 5%;
	text-align: left;
	background-color: #B8B8B8;
	color: #BF0404;
	float: left;
	max-width : 4%;
}

#code {
	box-sizing: border-box;
	width: 96%;
	height: 100%;
	text-align: left;
	vertical-align: top;
	background-color: #273259;
	color: #B8B8B8;
	float: left;
}

#lines pre {
	margin: 0;
	font-size: 15px;
}

#code pre {
	margin: 0;
	font-size: 15px;
}