/*Tahoma, "Lucida Sans", Calibri, Verdana- sans-serif fonts**/

@font-face {
    font-family: logo-font;
    src: url(../fonts/Minangkabau.TTF);
    font-weight:bold;
}


* {
	margin: 0;
	padding: 0;
}


body, form, select, input {
	font: 14px/1.6 Tahoma, Verdana, Calibri sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2rem;
	font-weight: normal;
	margin-bottom: 0.2rem;
}

h1 {
	font-size: 2.8rem;
    font-family: logo-font;
}
h2 {
	font-size: 2.2rem;
	text-align: center;
	padding-top: 3rem;
	font-weight: bold;
}
h3 {
	font-size: 1.8rem;
	text-align: left;
}
h4 {
	font-size: 1.6rem;
}
h5 {
	font-size: 1.2rem;
}
h6 {
	font-size: 1.0rem;
	font-weight: bold;
}

a {
	text-decoration: none;
}

p {
	padding-bottom: 1.5rem;
}

<<<<<<< .mine
=======
/*Navigation Position fixed TODO**/

nav {
	width: 100%;
	float: right;
	padding-top: 15px;
	background-color: #000;
	position: fixed;
}

header {
	width: 40%;
	float: left;
	background-color: #000;
	color: white;
}

nav ul {
	padding-right: 10%;
}
.nav li{
    list-style: none;
}
nav ul li {
	display: compact;
	float: right;
	padding: 20px 5px 40px 5px;
}

nav ul li a {
	color: white;
	padding: 10px;
	height: 30px;
}
nav ul li a:hover {
	color: #E72ABC;
	background-color: #7E1768;
	border-radius: 5px;
}

.the-footer{
    background-color: #000;
    width: 100%;
    height: 100px;

}
.fb, .tt, .gm{
    width: 83px;
    height: 84px;
    border-radius: 2px;
    margin: 10px;
    display: inline-block;
}
.fb{
    background: url("../images/social-sprite.png") 335px 0;
}
.tt{
    background: url("../images/social-sprite.png") 168px 0;
}
.gm {
    background: url("../images/social-sprite.png") 588px 0;
}

.html5, .css3{
    width: 83px;
    height: 84px;
    border-radius: 2px;
    margin: 10px;
    display: inline-block;
    float: right;
}
.html5 {
    background: url("../images/html5.png");
}
.css3 {
    background: url("../images/css3.png");
}

.separate {
	width: 40%; /*Min Width TODO**/
	margin: 0 auto;
	border-bottom: 3px dashed #777777;
}

.article {
	padding: 80px 0px;
	width: 60%;
	margin: 0 auto;
	height: auto; /*whole height TODO**/
}

.article-content {
	float: left;
}

.article-image-right {

}

.article-image-left {

}

.article-footer {
	border-bottom: 2px dashed #777777;
}



#link1 {
	background-color: #E72ABC;
}

#link2 {
	background-color: #7E1768;
}

#link3 {
	background-color: #C0229B;
}

#link4 {
	background-color: #7E1768;
}

#link5 {
	background-color: #E72ABC;
}

img, video{
    max-width: 100%;
}
.logo{
    width: 200px;
    float: left;
    content: url('../images/team-thorn-logo.png');

}

#link4 pre {
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
	width: 100%;
}

>>>>>>> .r19
